.select {
  position: relative;
  //border: 1px solid;
  border-radius: 6px;
  padding: 4px 6px;

  &-item {}

  &:hover {
    .dropdown {
      opacity: 1;
    }
  }
}

.dropdown {
  border: 1px solid;
  border-radius: 6px;
  overflow: hidden;
  position: absolute;
  top: 40px;
  right: 0;
  opacity: 0;
  transition: opacity 300ms;

  &-item {
    padding: 8px 16px;
  }
}
