<section id="about" class="mt-32 p-5 lg:p-16">
  <div class="sm:mx-12 md:mx-16 lg:mx-32">
    <p class="text-center font-semibold font-48 uppercase">{{"about me" | translate}}</p>
    <div class="mt-6 flex items-stretch justify-center">
      <div class="px-5 md:px-14 lg:px-20 xl:px-48 font-20">
        <blockquote class="text-center">
          <p class="mb-3">{{"y.o. Full Stack Web Developer with total experience of years." |  translate: {
            year: (birtDate | getYear),
            exp: (expBeganAt | getYear)
          } }}</p>
          <div class="mb-3">
            <p>{{'Logical and results-driven web developer dedicated to building and optimizing user-focused websites for customers with various business objectives. Judicious and creative when crafting effective websites, apps and platforms to propel competitive advantage and revenue growth. Technically proficient and analytical problem solver with calm and focused demeanor.' | translate }}</p>
            <p>{{'Bringing more than 3+ years of experience leading website design projects, including gathering user requirements, producing code, creating mockups and enhancing designs. Focused on creating clean, robust code with exceptional security. Achieves compatibility targets while meeting and exceeding customer demands.' | translate }}</p>
          </div>

          <p><span class="font-semibold">{{"Frontend" | translate }}:</span></p>
          <div class="mb-3">
            <p>{{"Having experience in (Ts) Angular 8+ and developing multiple web applications." | translate }}</p>
            <p>{{"Having experience in  (JS/Ts) React.js, Vue.js and Ionic 3/4 and having few projects on these frameworks." | translate }}</p>
            <p>{{"Widely using libraries as Material UI, Bootstrap, Ant Design and Tailwind CSS." | translate }}</p>
            <p>{{"Having experience in jQuery and native Javascript." | translate }}</p>
            <p>{{"Using MVC and Model Based Patterns in structuring projects." | translate }}</p>
          </div>
          <p><span class="font-semibold">{{"Backend" | translate }}:</span></p>
          <div class="mb-3">
            <p>{{"Having basic experience in PHP frameworks as Yii2 and Laravel." | translate }}</p>
            <p>{{"Having basic experience in Node.js with Express.js library and Nuxt.js SSR." | translate }}</p>
            <p>{{"Having experience in MySQL Database management." | translate }}</p>
          </div>
        </blockquote>
      </div>
    </div>
  </div>
</section>
