<div class="navbar navbar-sticky">
  <header class="header sm:mx-12 md:mx-16 lg:mx-32">
    <div class="header__logo font-18 font-bold md:font-24 lg:font-32 xl:font-48 transition-all duration-700">
      <a routerLink="/">{{appName | translate}}</a>
    </div>
    <div class="header__menu">
      <div class="theme-toggle">
        <theme-picker></theme-picker>
      </div>
      <div class="menu">
        <div class="menu__icon" (click)="sidebarOpen = !sidebarOpen">
          <span class="fe-menu"></span>
        </div>
      </div>
      <div class="language-picker">
        <language-picker></language-picker>
      </div>
    </div>
  </header>
  <div class="sidebar {{sidebarOpen ? 'open': ''}}">
    <sidebar [open]="sidebarOpen" (close)="sidebarOpen = false"></sidebar>
  </div>
</div>
