.navbar {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto 200px;

    &-sticky {
      position: sticky;
      top: 0;
    }

    &__logo {
      flex: 1;
      font-size: 48px;
      text-transform: uppercase;
    }

    &__menu {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }

  .menu {
    cursor: pointer;

    &__icon {
      font-size: 1.5em;
    }
  }

  .theme-toggle, .menu {
    margin-right: 1em;
  }

  .sidebar {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    max-width: 300px;
    width: 0px;
    height: 100vh;
    transition: width 300ms;

    &.open {
      width: 300px;

      &::before {
        content: " ";
        position: absolute;
        top: 0;
        left: -100vw;
        display: block;
        background-color: rgba(0, 0, 0, .5);
        height: 100vh;
        width: calc(100vw);
      }
    }
  }
}
