@import "src/assets/scss/variables";

.navbar {
  box-shadow: 1px 1px 10px -5px $gray;
  padding: 0 1rem;
  z-index: 1;
  width: 100%;
  max-height: $navbar-size;
  height: $navbar-size;
  display: flex;
  align-items: center;

  &-sticky {
    position: fixed;
    top: 0;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    &__logo {
      flex: 3;
      text-transform: uppercase;
    }

    &__menu {
      flex: 2;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }

  .menu {
    cursor: pointer;

    &__icon {
      font-size: 1.5em;
    }
  }

  .theme-toggle, .menu {
    margin-right: 1em;
  }

  .sidebar {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    max-width: 300px;
    width: 0px;
    height: 100vh;
    transition: width 300ms;

    &.open {
      width: 300px;

      &::before {
        content: " ";
        position: absolute;
        top: 0;
        left: -100vw;
        display: block;
        background-color: rgba(0, 0, 0, .5);
        height: 100vh;
        width: 100vw;
      }
    }
  }
}
