<div class="main" id="main">
  <navbar></navbar>
  <div class="content" id="content">
    <section class="not-found flex justify-center items-center">
      <div class="text-center">
        <p class="font-72"><span>404</span></p>
        <p class="font-32"><span>{{"This page is not found" | translate}}</span></p>
        <p class="mt-5"><a class="border rounded p-3 hover:bg-amber-50 dark:hover:bg-gray-900" routerLink="/">{{"Back to home" | translate}} <i class="fe-arrow-right"></i></a></p>
      </div>
    </section>
  </div>
</div>
