<section class="projects mt-10 p-5 lg:p-16" id="languages">
  <div class="sm:mx-12 md:mx-16 lg:mx-32">
    <p class="text-center font-semibold font-24 md:font-32 lg:font-48 uppercase">{{"languages" | translate}}</p>
  </div>
  <div class="px-5 md:px-14 lg:px-20 xl:px-48 mt-6 font-20">
    <div class="mb-3">{{'Uzbek' | translate}} - {{'Native' | translate}}</div>
    <div class="mb-3">{{'English' | translate}} - B2 (IELTS Band score 6)</div>
    <div class="mb-3">{{'Russian' | translate}} - C1</div>
  </div>
</section>
