<section class="projects mt-10 p-5 lg:p-16" id="projects">
  <div class="sm:mx-12 md:mx-16 lg:mx-32">
    <p class="text-center font-semibold font-24 md:font-32 lg:font-48 uppercase">{{"projects" | translate}}</p>
  </div>
  <div class="px-5 md:px-14 lg:px-20 xl:px-48 mt-6 font-20">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
      <div *ngFor="let item of items" class="p-1">
        <div class="project" [style]="'background-image: url(' + item?.image+ ')'">
          <a [href]="item?.link" [target]="item?.link != '#' ? '_blank': '_self'">
            <div class="project__text">
              <div class="title">
                {{item?.title || item?.link}}
              </div>
              <div class="tags">
                <span *ngFor="let tag of (item?.tags || [])" class="text-white bg-amber-700 font-10 rounded p-1 mr-1">
                  {{tag}}
                </span>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
