.sidebar-panel {
  width: 100%;
  height: 100%;
  overflow: hidden;

  .panel {
    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 6px;

      .close {
        font-size: 22px;
        cursor: pointer;
      }
    }

    &-body {
    }

    &-item {
      display: block;
      width: 100%;
    }

    &-link {
      display: block;
      padding: 12px 14px;
      width: 100%;
      text-transform: capitalize;
      white-space: nowrap;
    }
  }
}
