<div class="interest p-5 flex flex-col justify-center lg:items-end xl:items-center">
  <div class="font-semibold font-24 md:font-32 lg:font-48 mb-5 uppercase">
    {{"My Interests in My Life" | translate}}
  </div>
  <div class="font-semibold font-20 md:font-26 lg:font-32 mb-5 uppercase">
    <p class="mb-3"><i class="fe-code"></i> {{"Programming" | translate}}</p>
    <p class="mb-3"><i class="fe-music"></i> {{"Music" | translate}}</p>
    <p class="mb-3"><i class="fe-slack"></i> {{"Computer Games" | translate}}</p>
    <p class="mb-3"><i class="fe-briefcase"></i> {{"Traveling" | translate}}</p>
  </div>
  <moto></moto>
  <div class="mt-8 p-3 text-center">
    <a class="rounded p-2 border" href="/assets/files/Alisher%20Khayrillaev%20Resume.pdf" target="_blank" download="Alisher Khayrillaev Resume.pdf">
      <i class="fe-download"></i> {{'Download resume' | translate}} </a>
  </div>
</div>
