<div class="interest p-5 flex flex-col justify-center lg:items-end xl:items-center">
  <div class="font-semibold font-48 mb-5">
    {{"My Interests in My Life" | translate}}
  </div>
  <div class="font-semibold font-32 mb-5">
    <p class="mb-3"><i class="fe-code"></i> {{"Programming" | translate}}</p>
    <p class="mb-3"><i class="fe-music"></i> {{"Music" | translate}}</p>
    <p class="mb-3"><i class="fe-slack"></i> {{"Computer Games" | translate}}</p>
    <p class="mb-3"><i class="fe-briefcase"></i> {{"Traveling" | translate}}</p>
  </div>
  <moto></moto>
</div>
